<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head"></head>
<body>
    <div class="row" style="height: 100%;" >
    <div th:replace="template :: panelLateral"></div>
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-10">
            <div class="row justify-content-center align-items-center" style="height: 100%;">
                <div class="col-auto">
                    <button type="button" class="btn btn-primary buttonMenu"><strong>Sistema de Gestion de Ingresos y Gastos</strong></button>
                    <button type="button" class="btn btn-primary buttonMenu"><strong>Sistema de Gestión de Usuarios</strong></button>
                    <button type="button" class="btn btn-primary buttonMenu"><strong>Sistema de Gestión de Empresas</strong></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>